<h3>login</h3>




<p>
    <input type="text" name=""/>
    <button>
        check
    </button>
</p>
<p>
    <input type="text" name=""/>
    <button>
        confirm
    </button>
</p>
<button>
    login
</button>
<button>
    reset
</button>